[submodule "PortfolioGameServer"]
	path = PortfolioGameServer
	url = https://github.com/TaiseiHamaya/PortfolioGameServer.git
[submodule "PortfolioGameClient"]
	path = PortfolioGameClient
	url = https://github.com/TaiseiHamaya/PortfolioGameClient.git
